@charset "utf-8";

/***公共样式  开始***/
html{font-family:Microsoft Yahei; font-size:14px;}
html,body,ul,li,div,h2,dl,dt,dd{margin:0; padding:0;}
body{background-color:#f7f7f7;}
li,dd{list-style:none;}
a{text-decoration:none;}
.fl{float:left; margin-right: 2%;}
.fr{float:right;}
.block{ display:block; overflow:hidden;}
.pt16{padding-top:16px;}
.width390{width:32%}
.color01{ background-color:#22becb;}
.color02{ background-color:#59bfa7;}
.color03{ background-color:#f79441;}
.color04{ background-color:#ef6149;}
.img01{ background:url(../img/map/mmg.png) no-repeat left center; width:25px; height:25px;}
.img02{ background:url(../img/map/mmb.png) no-repeat left center; width:25px; height:25px;}
.img03{ background:url(../img/map/mmy.png) no-repeat left center; width:25px; height:25px;}
.img04{ background:url(../img/map/mmr.png) no-repeat left center; width:25px; height:25px;}
/***头部样式  结束***/


/***头部样式  开始***/
#head{width:100%; margin:0 auto; height:60px; background-color:#0070b6; overflow:hidden;}
/*.head_wrap{ width:1180px; margin:0 auto; overflow:hidden;}*/
.head_wrap_title{width:50%; padding-left:1.5%; font-size:24px; line-height:60px; color:#fff; font-weight:700; letter-spacing:2px; }
.head_wrap_other{width:45%; float:right; overflow:hidden;}
.head_wrap_other ul{width:100%; overflow:hidden;}
.head_wrap_other ul li{float:right; font-size:14px; color:#fff; margin-right:4.5%; line-height:60px; padding-left:4%;}
.head_wrap_other ul li a{color:#fff;}
.head_wrap_other ul li.head_ico01{background:url(../imgv2/contrl.png) no-repeat left center; background-size:16px;}
.head_wrap_other ul li.head_ico02{background:url(../imgv2/system.png) no-repeat left center; background-size:16px;}
.head_wrap_other ul li.head_ico03{background:url(../imgv2/admin.png) no-repeat left center; background-size:16px;}
/***头部样式  结束***/

#content{width:97%; margin:0 auto; overflow:hidden;}
.cont_block_two{margin-top:0px;}
.cont_left{width:100%; overflow:hidden;}
.cont_right{width:31%; overflow:hidden;}

/***lab样式  开始***/
.block_style{border:1px solid #e1e1e1; overflow:hidden; margin-bottom:20px;}
.block_style div{background-color:#fff;}
.block_style .lab_style{ height:38px; line-height:38px; font-size:16px; color:#000; background-color:#b9e6ff;}
.lab_style h2{width:45%; padding-left:2%; float:left; font-size:16px; font-weight:normal; line-height:38px; font-family:Microsoft Yahei;}
.lab_style ul{width:60%; float:right;}
.lab_style ul li{float:right; margin-right:15px; line-height:38px; font-size:12px;}
.lab_style ul li span{padding:4px; width:4px; height:4px; display:block; float:left; margin-top:13px;margin-right:5px;}
.lab_style span.order{float:right;padding:20px 20px; background:url(../imgv2/order.png) no-repeat left center;}
.lab_style span.statistics{float:right;padding:20px 20px; background:url(../imgv2/statistics.png) no-repeat left center; }
.lab_style span.power{float:right;padding:20px 20px; background:url(../imgv2/power.png) no-repeat left center;}
.lab_style span.benefit{float:right;padding:20px 20px; background:url(../imgv2/benefit.png) no-repeat left center;}
.pl4 h2{padding-left:4%;}
/***lab样式  结束***/

/***重要信息样式  开始***/
.block_info{overflow:hidden;}
.block_info ul{width:100%; height:40px; margin-bottom:20px;}
.block_info ul li{float:left; height:40px; color:#fff; line-height:40px;}
.block_info ul li.block_info_left{width:120px; text-align:right;}
.block_info ul li.block_info_right{width:200px; padding-left:15px; font-weight:700;}
/***重要信息样式  结束***/

/***环保效益样式  开始***/
dl{width:80%; margin:0 auto; overflow:hidden; border-bottom:1px solid #e6e6e6;}
dl dt,dl dd{float:left; height:70px; line-height:70px; color:#333;}
dl dt{width:60%;padding-left:30%;}
.list01, .list02, .list03, .list04{
    height: 70px;
}
dl.list01 dt{background:url(../imgv2/coal.png) no-repeat 15% center;}
dl.list02 dt{background:url(../imgv2/so2.png) no-repeat 15% center;}
dl.list03 dt{background:url(../imgv2/co2.png) no-repeat 15% center;}
dl.list04 dt{background:url(../imgv2/dust.png) no-repeat 15% center;}
dl dd{width:35%; font-size:18px; font-weight:700;}
dl.list01 dd{color:#000;}
dl.list02 dd{color:#ef6149;}
dl.list03 dd{color:#22becb;}
dl.list04 dd{color:#c8c55c;}
/***环保效益样式  结束***/
/*底部版权*/
.footer{
    float:left;
    width: 100%;
    height: 20px;
    background-color: #0070b6;
}
.footer>div{
    margin: 0 auto;
    width: 510px;
    height: 20px;
}
/*搜索*/
.soInput{
    float:left;
    width: 380px;
    margin-left:1%;
    height: 30px;
    font-size: 18px;
    font-family: '宋体';
}
.so{
    position: absolute;
    left: 360px;
    top: 5px;
    font-size: 18px;
    cursor: pointer;
}
.so:hover{
    color:#44A8D4;
}
/*区县对应颜色表示*/
.flagTxt{
    width: 80px;
    height: 20px;
    float: left;
    padding-left: 20px;
    cursor: pointer;
    color:#00a8db;
}
.flagColor{
    width: 20px;
    height: 20px;
    float: left;
    cursor: pointer;
}
.flagTxt:hover{
    color:#ef6149;
}

.aTxt{
    float: left;
    cursor: pointer;
    color:#00a8db;
}
.aTxt:hover{
    color:#ef6149;
}

/*发电量统计*/
.fdBox {
    width: 35%;
    height: 300px;
    float: left;
    padding-top: 35px;
}
.fdcBox {
    height: 65px;
    width: 100%;
    line-height: 30px;
    padding-left: 10px;
    text-align: center;
}
.dlDiv {
    width: 65%;
    line-height: 30px;
    margin-left: 10px;
    padding: 0 5px;
    text-align: center;
    border-radius: 6px;
    height: 30px;
    float: left;
}
.dl{
    width: 80%;
    line-height: 30px;
    padding-left:10px;
    text-align: center;
    height: 30px;
    float: left;
    color: #ffffff;
}

/**顶部四个方块*/
.line2{overflow:hidden; width: 97%; margin: 0 auto;}
.line2 ul{width:23.5%; height:40px; margin-top: 10px; margin-bottom: 10px; float: left;}
.line2 ul li{float:left; height:40px; color:#fff; line-height:40px;}
.line2 ul li.block_info_left{width:120px; text-align:right;}
.line2 ul li.block_info_right{width:52%; padding-left:15px; font-weight:700;}














