* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Microsoft YaHei";
	vertical-align: baseline;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	background: url(../img/body_bg.png) 0% 0% / cover;
}

@font-face {
	font-family: LED;
	src: url(../font/led.TTF);
}

.ME-hender {
	height: 80px;
	background: url(../img/top_bg2.png) 50% 0%;
}

.ME-hender h1 {
	text-align: center;
	color: #fff;
	font-size: 22px;
	padding: 8px 0;
	letter-spacing: 2px;
}

.Mytime {
	text-align: center;
	font-family: LED;
	color: #fff;
	letter-spacing: 2px;
}

.ME-content {
	width: 98%;
	margin: 20px auto;
}

.ME_title {
	color: #5ac8fa;
	font-size: 12px;
	height: 7%;
	display: flex;
	align-items: center;
	margin-left: 20px;
}

.weather {
	color: #fff;
	font-size: 12px;
	margin-top: -10px;
	margin-left: 40px;
}

.weather span {
	font-family: LED;
	font-size: 25px;
	margin-right: 4px
}

.weather small {
	font-size: 14px;
	margin-right: 10px;
}

.child {
	height: 41%;
	background: url(../img/child.png);
	background-size: 100% 100%;
	padding: 5% 3%;
}

.ME-left {
	float: left;
}

.ME-right {
	float: right;
}


/*ditu*/

.ME-center {
	float: left;
	width: 40%;
}

.ME-left,
.ME-right {
	width: 24%;
	margin: 0 3%;
}


/*中上*/

.PowerMonitoring {
	position: relative;
	background-image: url(../img/child_w.png);
	background-size: 100% 100%;
	padding: 2% 3%;
	height: 25%;
}

.TodayElectricity {
	position: absolute;
	font-size: 12px;
	color: #eee;
}

.TodayElectricity .led {
	color: rgb(81, 255, 255);
	font-family: led;
	font-size: 30px;
	margin-right: 5px
}

.Xmonth,
.Xtotal {
	top: 50%;
}

.Xyear,
.Xtotal {
	left: 50%;
}

.Xdays {
	right: 50px;
	top: 68px;
}


/*中下*/

.PowerStationMap {
	background-image: url(../img/ditu_map.png);
	background-size: 100% 100%;
	height: 57%;
}

.mapBtn {
	z-index: 10;
	float: right;
	position: absolute;
	right: 15px;
	top: 10px;
	height: 26px;
	width: 26px;
	line-height: 26px;
	text-align: center;
	border-radius: 50%;
	background: #fff;
	font-size: 14px;
	cursor: pointer;
}
#mapEle{
	right: 50px;
}

/*右上*/

.status-data {
	width: 100%;
	color: #eee;
	margin: 0 auto;
	font-size: 12px;
	line-height: 20px;
}

.status-data-left p span,
.status-data-right p span {
	display: inline-block;
	width: 38px;
	font-size: 13px;
	text-align: center;
	color: rgb(81, 255, 255);
}

.status-data p tt {
	cursor: pointer;
}

.status-data p i {
	margin-right: 6px;
}

.status-data-left {
	display: inline-block;
	margin-left: 15px;
}

.status-data-right {
	display: inline-block;
}



.child_PowerOverview {
	position: relative;
}
.Electricity-title,
.Electricity-kwh .spanKwh {
	font-size: 12px;
	color: #ccc;
	font-weight: normal;
}

.Electricity-kwh {
	margin-top: 20px;
}
.Electricity-kwh .fontLed{
	font-family: led;
	color: rgb(112, 255, 254);
	font-weight: bold;
	font-size:30px;
}


.Split {
	/*分割线*/
	color: #434453;
	height:20px

}
.dlzlB,.dlzlT{
	herght:48%;
	
}
.dlB,.dlT{
	width:40%;
	margin-left:10%;
	float:left;
}
.TM-PowerGeneration {
	/*本月发电量 */
	color: rgb(187, 194, 206);

}

.TM-EnergyUsed {
	/*本月用电量 */
	color: rgb(187, 194, 206);

}

.total-PowerGeneration {
	/*总发电量 */
	color: rgb(187, 194, 206);

}

.total-EnergyUsed {
	/*总用电量 */
	color: rgb(187, 194, 206);

}



/*右下*/

.SC-child-box {
	height: 25%;
	/*	line-height: 50px;*/
	/*margin: 30px 22px 0 30px;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.SC-child-box img,
.SC-child-box span {
	float: left;
}

.SC-child-box span {
	font-size: 12px;
	color: rgb(78, 175, 223);
	width: 160px;
	text-align: center;
}

.SC-child-box small {
	font-family: led;
	float: left;
	color: #eee;
	font-size: 20px
}


/*左上*/

.ME_inquire {
	position: relative;
	left: 0;
	right: 0;
	text-align: center;
	height: 30px;
	overflow: hidden;
	color: #5ac8fa;
	font-size: 12px
}

.ME_inquire input {
	height: 22px;
	color: #b3e7ff;
	padding: 2px;
	width: 80px;
	text-align: center;
	background-color: transparent;
	border: none;
	border-bottom: 1px #5ac8fa solid;
	outline-style: none;
}

.ME_inquire button {
	font-size: 12px;
	padding: 2px 6px;
	background-color: transparent;
	color: #5ac8fa;
	border: 1px #5ac8fa solid;
	cursor: pointer;
	margin-left: 10px;
	transition: all .2s;
	-webkit-transition: all .2s;
}

.ME_inquire button:hover {
	background: rgba(255, 255, 255, 0.1);
}

.ME_inquire button:active {
	background: rgba(255, 255, 255, 0.2);
}


/*左下*/

.ME_inquire_nav {
	display: inline-block;
	line-height: 23px;
	padding: 2px 10px;
	text-align: center;
	border: 1px solid #0672cb;
	border-radius: 18px;
	cursor: pointer;
}

.ME_inquire_nav+.ME_inquire_nav {
	margin-left: 10px;
}

.ME_inquire_nav.on {
	background: rgba(255, 255, 255, .2);
}

.ME-footer {
	width: 100%;
	background-image: url(../img/button_bg.png);
	background-size: cover;
	position: absolute;
	bottom: 0;
}

.ME-footer p {
	font-size: 12px;
	color: #fff;
	line-height: 20px;
	text-align: center;
}

.layui-nav {
	background: none;
	font-size: 12px;
	margin-right: 20px;
}

.layui-nav * {
	font-size: 10px;
}

.layui-nav .layui-this:after,
.layui-nav-bar,
.layui-nav-tree .layui-nav-itemed:after,
.layui-nav-bar {
	display: none
}

.layui-nav i {
	font-size: 16px;
	margin-right: 5px;
}

.layui-nav .layui-nav-item {
	line-height: 36px;
}

.layui-nav .layui-nav-item a {
	opacity: 1;
	padding: 0 15px;
}

.layui-nav .layui-nav-more {
	top: 16px;
	right: 0px;
}

.layui-nav .layui-nav-mored,
.layui-nav-itemed .layui-nav-more {
	top: 8px
}

.layui-nav .layui-nav-child dd.layui-this a,
.layui-nav-child dd.layui-this {
	background: rgba(0, 0, 0, .1);
	color: #000
}

.layui-nav-child {
	top: 38px;
}

@media (min-width:1500px){
	.ME_title,
	.weather,
	.TodayElectricity,
	.status-data,
	.status-data-left p span,
	.status-data-right p span,
	.SC-child-box span{
		font-size: 15px;
	}
	.SC-child-box span{
		width: 200px;
	}
	.ME_inquire,
	.ME_inquire button{
		font-size: 14px;
	}
	.status-data{
		line-height: 26px;
	}
	.ME_inquire input{
		width: 100px;
	}
	.SC-child-box small,.TodayElectricity .led{
		font-size: 26px;
	}
	.weather span{
		font-size: 30px;
	}
	.mapBtn {
    right: 20px;
    top: 15px;
    height: 36px;
    width: 36px;
    line-height: 36px;
    font-size: 20px;
	}
	#mapEle{
	right: 70px;
	}	
	.ME-hender h1{
		font-size: 26px;
	}
	.Electricity-title{
		font-size:14px;
	}
	.Electricity-kwh .fontLed{
		font-size:32px;
	}
}