<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zup.bi.dao.BIShowEngineDao">

    <resultMap id="baseMap" type="cn.zup.bi.entity.BIShowField">
        <id property="dim_Table" column="DIM_TABLE" javaType="java.lang.String" jdbcType="VARCHAR"></id>

        <result property="field_Title" column="FIELD_TITLE" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result property="field_Type" column="FIELD_TYPE" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result property="field_Name" column="FIELD_NAME" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result property="field_Caption" column="FIELD_CAPTION" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result property="field_Unit" column="UNIT" javaType="java.lang.String" jdbcType="VARCHAR"></result>


        <result property="topic_Table" column="TOPIC_TABLE" javaType="java.lang.String" jdbcType="VARCHAR"></result>

        <result property="aggregate_Type" column="AGGREGATE_TYPE" javaType="java.lang.String" jdbcType="VARCHAR"></result>

        <result property="field_Location" column="FIELD_LOCATION" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result property="dim_Order" column="DIM_ORDER" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result property="drill_Type" column="DRILL_TYPE" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result property="drill_Info" column="DRILL_INFO" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result property="id_Field" column="ID_FIELD" javaType="java.lang.String" jdbcType="INTEGER"></result>
        <result property="text_Field" column="TEXT_FIELD" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result property="attribute_Name" column="AGGREGATE_TYPE" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result property="attribute_Value_Field" column="AGGREGATE_VALUE_FIELD" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result property="attribute_Caption_Field" column="AGGREGATE_CAPTION_FIELD" javaType="java.lang.String" jdbcType="VARCHAR"></result>


    </resultMap>

    <select id="getReportDimInfo" resultMap="baseMap" parameterType="java.lang.Object">
        SELECT
        bd.BIZ_TABLE_NAME AS DIM_TABLE, bd.DRILL_TYPE, bd.DRILL_INFO, bd.ID_FIELD, bd.TEXT_FIELD,

        brf.FIELD_TITLE, brf.FIELD_TYPE, brf.FIELD_NAME, brf.FIELD_CAPTION, <!--增加field_caption，避免dim字段重名-->
        brf.FIELD_LOCATION, brf.DIM_ORDER,
        br.BIZ_TABLE_NAME AS TOPIC_TABLE

        FROM bi_report_field brf
        JOIN bi_report br ON br.report_id=brf.report_id<!--必须要和bi_report进行联合过滤-->
        LEFT JOIN bi_dim bd ON brf.DIM_ID = bd.DIM_ID   <!--LEFT表示可以不配置维度对应表，这里存在大的问题 202002025TODO: liuxf-->

        WHERE 1=1
        AND brf.FIELD_LOCATION IN(1,2)
        AND brf.REPORT_ID = ${report_Id}
        ORDER BY brf.FIELD_LOCATION, brf.DIM_ORDER ;
    </select>

    <select id="getReportTopicInfo" resultMap="baseMap" parameterType="java.lang.Object">
        SELECT distinct
        brf.FIELD_NAME, brf.FIELD_TITLE, brf.FIELD_CAPTION, brf.AGGREGATE_TYPE,
        brf.FIELD_TYPE, brf.UNIT, brf.FIELD_LOCATION, brf.DIM_ORDER,
        br.BIZ_TABLE_NAME AS TOPIC_TABLE
        FROM bi_report_field brf
        JOIN bi_report br ON br.REPORT_ID = brf.REPORT_ID
        WHERE 1=1
        AND brf.FIELD_LOCATION = 3
        AND br.REPORT_ID = ${report_Id};
    </select>

</mapper>