<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zup.bi.dao.ReportDao">

    <resultMap id="baseMap" type="cn.zup.bi.entity.BI_REPORT">
        <id property="report_Id" column="REPORT_ID" javaType="java.lang.Integer" jdbcType="INTEGER"></id>
        <result property="report_Name" column="REPORT_NAME" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result property="report_Title" column="REPORT_TITLE" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result property="create_Date" column="CREATE_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP"></result>
        <result property="page_Id" column="PAGE_ID" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result property="page_Name" column="page_Name" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result property="biz_Table_Name" column="BIZ_TABLE_NAME" javaType="java.lang.String" jdbcType="VARCHAR"></result>
    </resultMap>

    <select id="getReportListByPageId" resultMap="baseMap" parameterType="java.lang.Integer">
        SELECT
            br.REPORT_ID, br.REPORT_NAME,br.PAGE_ID,br.BIZ_TABLE_NAME,bp.page_name
        FROM bi_report br
        JOIN bi_page bp ON br.PAGE_ID = bp.BI_PAGE_ID
        JOIN bi_screen bs ON bp.BI_PAGE_ID = bs.PAGE_ID
        WHERE 1=1
        AND bp.BI_PAGE_ID = ${pageId}
        AND bs.SCREEN_INDEX = ${screenIndex}
        GROUP BY br.REPORT_ID, br.REPORT_NAME;
    </select>

    <select id="getReportPagingList" resultMap="baseMap" parameterType="cn.zup.bi.entity.BI_REPORT">
        SELECT
        br.PAGE_ID,
        br.CREATE_DATE,
        br.REPORT_ID,
        br.REPORT_NAME,
        br.REPORT_TITLE,
        br.BIZ_TABLE_NAME,
        bp.PAGE_NAME page_Name
        FROM bi_report br
        JOIN bi_page bp ON br.PAGE_ID = bp.BI_PAGE_ID
        <where>
            <if test="biReport.page_Id != null">
                AND br.PAGE_ID = #{ biReport.page_Id}
            </if>

            <if test="biReport.report_Name != null">
                AND br.REPORT_NAME LIKE CONCAT('%', #{biReport.report_Name}, '%')
            </if>

            <if test="biReport.report_Title != null">
                AND br.REPORT_TITLE LIKE CONCAT('%', #{ biReport.report_Title}, '%');
            </if>
        </where>
        ORDER BY br.REPORT_ID desc
    </select>

    <select id="getReportInfoById" resultMap="baseMap" parameterType="java.lang.Integer">
        SELECT
            br.PAGE_ID,
            br.CREATE_DATE,
            br.REPORT_ID,
            br.REPORT_NAME,
            br.REPORT_TITLE,
            br.BIZ_TABLE_NAME
        FROM bi_report br
        WHERE 1=1
        AND br.REPORT_ID = #{reportId}
    </select>

    <delete id="deleteReportInfo" parameterType="java.lang.Integer">
        DELETE FROM bi_report WHERE REPORT_ID = #{reportId}
    </delete>

    <insert id="save" parameterType="cn.zup.bi.entity.BI_REPORT" useGeneratedKeys="true" keyProperty="report.report_Id" keyColumn="REPORT_ID">
        INSERT INTO bi_report (
            REPORT_NAME,
            PAGE_ID,
            REPORT_TITLE,
            CREATE_DATE,
            BIZ_TABLE_NAME
        ) VALUES
        (
            #{report.report_Name},
            #{report.page_Id},
            #{report.report_Title},
            #{report.create_Date},
            #{report.biz_Table_Name}
        );
    </insert>

    <update id="update" parameterType="cn.zup.bi.entity.BI_REPORT">
        UPDATE bi_report
        <trim prefix="set" suffixOverrides=",">

            <if test="report.report_Name != null">
                REPORT_NAME = #{report.report_Name},
            </if>
            <if test="report.page_Id != null">
                PAGE_ID = #{report.page_Id},
            </if>
            <if test="report.report_Title != null">
                REPORT_TITLE = #{report.report_Title},
            </if>
            <if test="report.create_Date != null">
                CREATE_DATE = #{report.create_Date},
            </if>
            <if test="report.biz_Table_Name != null">
                BIZ_TABLE_NAME = #{report.biz_Table_Name},
            </if>
        </trim>
        WHERE REPORT_ID = #{report.report_Id}
    </update>
</mapper>