<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zup.bi.dao.ReportFieldDao">

    <resultMap id="baseMap" type="cn.zup.bi.entity.BI_REPORT_FIELD">
        <id property="report_Field_Id" column="REPORT_FIELD_ID" javaType="java.lang.Integer" jdbcType="INTEGER"></id>
        <id property="report_Id" column="REPORT_ID" javaType="java.lang.Integer" jdbcType="INTEGER"></id>
        <id property="field_Id" column="FIELD_ID" javaType="java.lang.Integer" jdbcType="INTEGER"></id>
        <result property="field_Location" column="FIELD_LOCATION" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result property="dim_Order" column="DIM_ORDER" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result property="display" column="DISPLAY" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result property="field_Name" column="FIELD_NAME" javaType="java.lang.String" jdbcType="VARCHAR"></result>
    </resultMap>

    <select id="getReportTopicField" resultMap="baseMap" parameterType="cn.zup.bi.entity.BI_REPORT_FIELD">
        SELECT
        *
        FROM bi_report_field brf
        WHERE 1=1
        <where>
            <if test="reportId">
                brf.REPORT_ID = #{ reportId}
            </if>
        </where>
    </select>

    <select id="getReportFieldList" resultMap="baseMap" parameterType="cn.zup.bi.entity.BI_REPORT_FIELD">
        SELECT brf.REPORT_FIELD_ID, brf.REPORT_ID, brf.FIELD_LOCATION, brf.DIM_ORDER, btf.FIELD_TITLE  FIELD_NAME, brf.FIELD_ID, brf.DISPLAY
        FROM bi_report_field brf
        JOIN bi_topic_field btf ON brf.FIELD_ID = btf.FIELD_ID
        <where>
            <if test="reportField.report_Id != null">
                AND brf.REPORT_ID = #{ reportField.report_Id}
            </if>
            <if test="reportField.field_Location != null">
                AND brf.FIELD_LOCATION = #{ reportField.field_Location}
            </if>
        </where>
        ORDER BY FIELD_ID DESC
    </select>

    <select id="getReportFieldByReportId" resultMap="baseMap" parameterType="cn.zup.bi.entity.BI_REPORT_FIELD">
        SELECT
        *
        FROM bi_report_field brf
        <where>
            <if test="reportId">
                brf.REPORT_ID = #{ reportId}
            </if>
        </where>
        ORDER BY FIELD_LOCATION, brf.DIM_ORDER
    </select>

    <select id="getReportFieldById" resultMap="baseMap" parameterType="java.lang.Integer">
        SELECT
            *
        FROM bi_report_field brf
        <where>
            <if test="reportField.report_Id != null">
                AND brf.REPORT_ID = #{reportField.report_Id}
            </if>
            <if test="reportField.report_Field_Id != null">
                AND brf.REPORT_FIELD_ID = #{ reportField.report_Field_Id}
            </if>
            <if test="reportField.field_Id != null">
                AND brf.FIELD_ID = #{reportField.field_Id}
            </if>
        </where>
    </select>

    <select id="getReportDimCount" resultMap="baseMap" parameterType="java.lang.Integer">
        SELECT COUNT(*) AS DimCount FROM bi_report_field
        WHERE 1=1
        AND REPORT_ID = #{reportId}
        AND FIELD_LOCATION = 1
    </select>

    <delete id="deleteReportField" parameterType="java.lang.Integer">
        DELETE FROM bi_report_field WHERE REPORT_FIELD_ID = #{report_Field_Id}
    </delete>

    <insert id="save" parameterType="cn.zup.bi.entity.BI_REPORT_FIELD" useGeneratedKeys="true" keyColumn="FIELD_ID" keyProperty="reportField.field_Id">
        INSERT INTO BI_REPORT_FIELD (
            REPORT_ID,
            FIELD_ID,
            FIELD_LOCATION,
            DIM_ORDER,
            DISPLAY
        ) VALUES
        (
            #{reportField.report_Id},
            #{reportField.field_Id},
            #{reportField.field_Location},
            #{reportField.dim_Order},
            #{reportField.display}
        );
    </insert>

    <update id="updateReportField" parameterType="cn.zup.bi.entity.BI_REPORT_FIELD">
        UPDATE bi_report_field brf
        <trim prefix="set" suffixOverrides=",">
            <if test="reportField.dim_Order != null">
                brf.DIM_ORDER = #{ reportField.dim_Order},
            </if>

            <if test="reportField.field_Location != null">
                brf.FIELD_LOCATION = #{ reportField.field_Location},
            </if>

            <if test="reportField.display != null">
                brf.DISPLAY = #{ reportField.display},
            </if>

            <if test="reportField.field_Id != null">
                brf.FIELD_ID = #{ reportField.field_Id},
            </if>
        </trim>
        WHERE brf.REPORT_FIELD_ID = #{ reportField.report_Field_Id}
        AND brf.REPORT_ID = #{ reportField.report_Id}
    </update>
</mapper>