<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zup.bi.dao.TopicFieldDao">

    <resultMap id="baseMap" type="cn.zup.bi.entity.BI_TOPIC_FIELD">
        <id property="field_Id" column="FIELD_ID" javaType="java.lang.Integer" jdbcType="INTEGER"></id>
        <result property="field_Name" column="FIELD_NAME" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result property="field_Title" column="FIELD_TITLE" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result property="field_Caption" column="FIELD_CAPTION" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result property="data_Type" column="DATA_TYPE" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result property="field_Length" column="FIELD_LENGTH" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result property="field_Decimal" column="FIELD_DECIMAL" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result property="field_Null" column="FIELD_NULL" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result property="field_Identity" column="FIELD_IDENTITY" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result property="field_Unit" column="FIELD_UNIT" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result property="topic_Id" column="TOPIC_ID" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result property="dim_Id" column="DIM_ID" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result property="field_Type" column="FIELD_TYPE" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result property="aggregate_Type" column="AGGREGATE_TYPE" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result property="data_Type_Str" column="data_Type_Str" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result property="field_Type_Str" column="field_Type_Str" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result property="field_Null_Str" column="field_Null_Str" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result property="field_Identity_Str" column="field_Identity_Str" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result property="dim_Name" column="dim_Name" javaType="java.lang.String" jdbcType="VARCHAR"></result>
    </resultMap>

    <select id="getTopicFieldList" resultMap="baseMap" parameterType="cn.zup.bi.entity.BI_TOPIC_FIELD">
        SELECT
            FIELD_ID,
            FIELD_NAME,
            FIELD_CAPTION,
            FIELD_TITLE,
            DATA_TYPE,
            FIELD_LENGTH,
            FIELD_DECIMAL,
            FIELD_NULL,
            FIELD_IDENTITY,
            FIELD_UNIT,
            AGGREGATE_TYPE,
            DIM_ID,
            FIELD_TYPE
        FROM
            bi_topic_field
        <where>
            <if test="topicField.dim_Id != null">
                and DIM_ID = #{topicField.dim_Id}
            </if>
            <if test="topicField.topic_Id != null">
                and TOPIC_ID = #{topicField.topic_Id}
            </if>
        </where>
    </select>

    <select id="getTopictopicFieldPagingList" resultMap="baseMap" parameterType="cn.zup.bi.entity.BI_TOPIC_FIELD">
        select
            dtCon.SUBNAME as data_Type_Str,
            nullCon.SUBNAME AS field_Null_Str,
            wyCon.SUBNAME as field_Identity_Str,
            ftCon.SUBNAME AS field_Type_Str,
        AGGREGATE_TYPE, FIELD_ID, TOPIC_ID, FIELD_TYPE, FIELD_LENGTH, FIELD_DECIMAL,
        FIELD_NULL, FIELD_IDENTITY, FIELD_NAME, FIELD_CAPTION,
        FIELD_TITLE, bi_topic_field.DIM_ID , bd.DIM_NAME, FIELD_UNIT
        from bi_topic_field
        LEFT JOIN config dtCon ON dtCon.SUBID = DATA_TYPE AND dtCon.CONFIGID = 77
        LEFT JOIN config nullCon ON nullCon.SUBID = FIELD_NULL AND nullCon.CONFIGID = 78
        LEFT JOIN config wyCon ON wyCon.SUBID = FIELD_IDENTITY AND wyCon.CONFIGID = 78
        LEFT JOIN config ftCon ON ftCon.SUBID = FIELD_TYPE AND ftCon.CONFIGID = 79
        LEFT JOIN bi_dim bd ON bi_topic_field.DIM_ID = bd.DIM_ID
        <where>
            <if test="topicField.topic_Id != null">
                and TOPIC_ID = #{topicField.topic_Id}
            </if>
        </where>
        ORDER BY FIELD_ID DESC
    </select>

    <select id="getTopicFieldName" resultMap="baseMap" parameterType="cn.zup.bi.entity.BI_TOPIC_FIELD">
        select FIELD_NAME from BI_TOPIC_FIELD t where topic_id = #{ topicId}  AND FIELD_TYPE = 1
    </select>

    <select id="getTopicFieldData" resultMap="baseMap" parameterType="java.lang.Integer">
        select * from BI_TOPIC_FIELD t where TOPIC_ID = #{ topic_Id}  AND FIELD_ID = #{ field_Id}
    </select>

    <delete id="deleteTopicFieldData" parameterType="java.lang.Integer">
        delete from bi_topic_field WHERE FIELD_ID = #{titleFieldId}
    </delete>

    <delete id="deleteTopicFieldDatabyTopic" parameterType="java.lang.Integer">
        delete from bi_topic_field WHERE TOPIC_ID = #{topic_Id}
    </delete>

    <insert id="save" parameterType="cn.zup.bi.entity.BI_TOPIC_FIELD" useGeneratedKeys="true" keyProperty="topicField.field_Id">
        INSERT INTO bi_topic_field (
            FIELD_NAME,
            FIELD_CAPTION,
            FIELD_TITLE,
            DATA_TYPE,
            FIELD_LENGTH,
            FIELD_DECIMAL,
            FIELD_NULL,
            FIELD_IDENTITY,
            FIELD_UNIT,
            TOPIC_ID,
            <if test="topicField.dim_Id != null">
                DIM_ID,
            </if>
            <if test="topicField.aggregate_Type != null">
                AGGREGATE_TYPE,
            </if>
            FIELD_TYPE
        ) VALUES
        (
            #{topicField.field_Name},
            #{topicField.field_Caption},
            #{topicField.field_Title},
            #{topicField.data_Type},
            #{topicField.field_Length},
            #{topicField.field_Decimal},
            #{topicField.field_Null},
            #{topicField.field_Identity},
            #{topicField.field_Unit},
            #{topicField.topic_Id},
            <if test="topicField.dim_Id != null">
                #{topicField.dim_Id},
            </if>
            <if test="topicField.aggregate_Type != null">
                #{topicField.aggregate_Type},
            </if>
            #{topicField.field_Type}
        );
    </insert>

    <update id="updateTopicFieldData" parameterType="cn.zup.bi.entity.BI_TOPIC_FIELD">
        UPDATE bi_topic_field btf
        <trim prefix="set" suffixOverrides=",">
            <if test="topicField.aggregate_Type != null">
                btf.AGGREGATE_TYPE = #{topicField.aggregate_Type},
            </if>

            <if test="topicField.dim_Id != null">
                btf.DIM_ID = #{topicField.dim_Id},
            </if>

            <if test="topicField.field_Caption != null">
                btf.FIELD_CAPTION = #{topicField.field_Caption},
            </if>

            <if test="topicField.field_Decimal != null">
                btf.FIELD_DECIMAL = #{topicField.field_Decimal},
            </if>

            <if test="topicField.field_Identity != null">
                btf.FIELD_IDENTITY = #{topicField.field_Identity},
            </if>

            <if test="topicField.field_Length != null">
                btf.FIELD_LENGTH = #{topicField.field_Length},
            </if>

            <if test="topicField.field_Title != null">
                btf.FIELD_TITLE = #{topicField.field_Title},
            </if>

            <if test="topicField.field_Type != null">
                btf.FIELD_TYPE = #{topicField.field_Type},
            </if>

            <if test="topicField.field_Null != null">
                btf.FIELD_NULL = #{topicField.field_Null},
            </if>

            <if test="topicField.field_Name != null">
                btf.FIELD_NAME = #{topicField.field_Name},
            </if>

            <if test="topicField.data_Type != null">
                btf.DATA_TYPE = #{topicField.data_Type},
            </if>

            <if test="topicField.field_Unit != null">
                btf.FIELD_UNIT = #{topicField.field_Unit},
            </if>
            <if test="topicField.topic_Id != null">
                btf.TOPIC_ID = #{topicField.topic_Id},
            </if>
        </trim>
        WHERE btf.FIELD_ID = #{topicField.field_Id}
    </update>
</mapper>